.promos{
    display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "gaton lolab mumm circusm"
    "portillom newageb lolaw circusb";

    }
    .gatoNegro{
        grid-area:gaton ;
        border: 3px solid $color1;
    }
    .lolaBlend{
        grid-area:lolab ;
        border: 3px solid $color1;
    }
    .chaMumm{
        grid-area: mumm;
        border: 3px solid $color1;
    }
    .portilloM{
        grid-area:portillom ;
        border: 3px solid $color1;
    }
    .newageBlanco{
        grid-area: newageb;
        border: 3px solid $color1;
    }
    .lolaWhite{
        grid-area: lolaw;
        border: 3px solid $color1;
    }
    .circusMalbec{
        grid-area: circusm;
        border: 3px solid $color1;
    }
    .circusBlanco{
        grid-area: circusb;
        border: 3px solid $color1;
    }
    .imgPromo{
        height: 450px;
        width: 180px;


    }


.vinos{
    display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "vinobenja vinocafa vinodon vinoluigi "
    "vinoruti vinosanta vinotrummal vinotrummer";
    align-items: center;

    }
    .vinoBenjamin{
        grid-area:vinobenja;
        border: 3px solid $color1;
        
    }
    .vinoCafayate{
        grid-area:vinocafa ;
        border: 3px solid $color1;
    }
    .vinoDonvalentin{
        grid-area: vinodon;
        border: 3px solid $color1;
    }
    .vinoLuigiboscamalbec{
        grid-area: vinoluigi;
        border: 3px solid $color1;
    }
    .vinoRutini{
        grid-area: vinoruti;
        border: 3px solid $color1;
    }
    .vinoSantajulia{
        grid-area: vinosanta;
        border: 3px solid $color1;
    }
    .vinoTrumpetermalbec{
        grid-area: vinotrummal;
        border: 3px solid $color1;
    }
    .vinoTrumpetermerlot{
        grid-area: vinotrummer;
        border: 3px solid $color1;
    }
    .imgVinos{
        height: 400px;
        width: 180px; 
    }

.champagne{
        display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "champch champcr champdada champfe"
    "champla champnor champnove champruti";
    align-items: center;
    
    }
    .champagneChandon{
        grid-area:champch;
        border: 3px solid $color1;
    }
    .champagneCristal{
        grid-area:champcr ;
        border: 3px solid $color1;
    }
    .champagneDada{
        grid-area: champdada;
        border: 3px solid $color1;
    }
    .champagneFederico{
        grid-area: champfe;
        border: 3px solid $color1;
    }
    .champagneLachapelle{
        grid-area: champla;
        border: 3px solid $color1;
    }
    .champagneNorton{
        grid-area: champnor;
        border: 3px solid $color1;
    }
    .champagneNovecento{
        grid-area: champnove;
        border: 3px solid $color1;
    }
    .champagneRutini{
        grid-area: champruti;
        border: 3px solid $color1;
    }
    .imgChampagne{
        height: 400px;
        width: 180px;
    }

.destilados{
    display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "ginb ginal ginhen gintan"
    "whiskych whiskyfire whiskyjack  whiskyred ";
    align-items: center;
    
    }
    .ginBridhton{
        grid-area:ginb ;
        border: 3px solid $color1;
    }
    .ginAlquimista{
        grid-area:ginal ;
        border: 3px solid $color1;
    }
    .ginHendricks{
        grid-area: ginhen;
        border: 3px solid $color1;
    }
    .ginTanqueray{
        grid-area: gintan;
        border: 3px solid $color1;
    }
    .whiskyChivas{
        grid-area: whiskych;
        border: 3px solid $color1;
    }
    .whiskyJack{
        grid-area: whiskyjack;
        border: 3px solid $color1;
    }
    .whiskeyFireball{
        grid-area: whiskyfire;
        border: 3px solid $color1;
    }
    .whiskeyRed{
        grid-area: whiskyred;
       border: 3px solid $color1;
    }
    .imgDestilados{
        height: 400px;
        width: 180px;
    }
