$color1: rgb(138, 30, 238);
$color2: black;
$color3: rgb(53, 53, 54);
$color4: white;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=PT+Sans+Narrow&family=Work+Sans:ital,wght@1,300&display=swap');
@import "./generales";
@import "./galerias";

*{
    padding: 0;
    margin:0;
}

body{
    background: $color2;
}

h1{
    font-family: 'Kanit', sans-serif;
    background: $color3;
    color: whitesmoke;

}

h2{
    color:lightgray;
    background: $color1;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1cm;
    margin-bottom: 15px;
    padding-left: 30px;
}

.parrafoNosotros{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.6cm;
    color: $color1;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px ;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px; 
    width: 400px;
    grid-area: nosotros;
}

.seccionNosotros{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "nosotros carousel";
}
.carousel-inner{
    grid-area: carousel;
}

#boton{
    margin-left: 20px;
}
.NombItem{
    color:  $color1;
    font-family: 'PT Sans Narrow', sans-serif;
}

@mixin sizes ($width, $height){
        height:$height;
        width:$width;
}

@media (max-width:700px){

    .imgCarousel{
        @include sizes (100px, 100px);
    }
    .seccionNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "carousel"
        "nosotros";
    }
    .promos{
        display: grid;
        gap: 15px;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        "gaton lolab "
        "mumm circusm"
        "portillom newageb"
        "lolaw circusb";

        
        }
    
.vinos{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"vinobenja vinocafa"
"vinodon vinoluigi"
"vinoruti vinosanta"
"vinotrummal vinotrummer";

}
.champagne{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"champch champcr "
"champdada champfe"
"champla champnor "
"champnove champruti";


}
.destilados{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"ginb ginal "
"ginhen gintan"
"whiskych whiskyfire"
"whiskyjack  whiskyred";

}

}

@media (max-width:500px){

    .imgCarousel{
        @include sizes (100px, 100px);
    }
    .seccionNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "carousel"
        "nosotros";
    }
    .promos{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        grid-template-areas: 
        "gaton"
        "lolab"
        "mumm"
        "circusm"
        "portillom"
        "newageb"
        "lolaw"
        "circusb";        
        
        }


.vinos{
display: grid;
gap: 5px;
grid-template-columns: 1fr;
grid-template-areas: 
"vinobenja"
"vinocafa"
"vinodon"
"vinoluigi"
"vinoruti"
"vinosanta"
"vinotrummal"
"vinotrummer";

}
.champagne{
    display: grid;
gap: 5px;
grid-template-columns: 1fr;
grid-template-areas: 
"champch"
"champcr"
"champdada"
"champfe"
"champla"
"champnor"
"champnove"
"champruti";


}
.destilados{
display: grid;
gap: 5px;
grid-template-columns: 1fr;
grid-template-areas: 
"ginb"
"ginal"
"ginhen"
"gintan"
"whiskych"
"whiskyfire"
"whiskyjack"
"whiskyred";
}

}

