@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Work+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=PT+Sans+Narrow&family=Work+Sans:ital,wght@1,300&display=swap");
header #navbar {
  font-size: 1cm;
  font-family: 'Kanit', sans-serif;
}

header .logo {
  height: 60px;
  width: 60px;
  border-radius: 1.8rem;
}

header a:hover {
  background: #8a1eee;
}

header a {
  border-radius: 2cm;
  border-color: #8a1eee;
}

.fondoImg {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.fondoImg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.descripcion {
  background-color: #353536;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  font-family: 'Work Sans', sans-serif;
  font-size: larger;
  background-color: #8a1eee;
  color: white;
}

.precio {
  color: white;
}

footer {
  background: #353536;
  color: white;
  font-family: 'Kanit', sans-serif;
  margin-top: 3px;
  margin-bottom: 0;
  padding: 20px;
}

footer .horarios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: horarios;
}

footer .ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ubicacion;
}

footer .iconos img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  height: 3rem;
  width: 3rem;
  margin: 4px 4px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iconos;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "horarios ubicacion iconos";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promos {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "gaton lolab mumm circusm" "portillom newageb lolaw circusb";
}

.gatoNegro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gaton;
  border: 3px solid #8a1eee;
}

.lolaBlend {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lolab;
  border: 3px solid #8a1eee;
}

.chaMumm {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mumm;
  border: 3px solid #8a1eee;
}

.portilloM {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: portillom;
  border: 3px solid #8a1eee;
}

.newageBlanco {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: newageb;
  border: 3px solid #8a1eee;
}

.lolaWhite {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: lolaw;
  border: 3px solid #8a1eee;
}

.circusMalbec {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: circusm;
  border: 3px solid #8a1eee;
}

.circusBlanco {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: circusb;
  border: 3px solid #8a1eee;
}

.imgPromo {
  height: 450px;
  width: 180px;
}

.vinos {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "vinobenja vinocafa vinodon vinoluigi " "vinoruti vinosanta vinotrummal vinotrummer";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vinoBenjamin {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: vinobenja;
  border: 3px solid #8a1eee;
}

.vinoCafayate {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: vinocafa;
  border: 3px solid #8a1eee;
}

.vinoDonvalentin {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: vinodon;
  border: 3px solid #8a1eee;
}

.vinoLuigiboscamalbec {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: vinoluigi;
  border: 3px solid #8a1eee;
}

.vinoRutini {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: vinoruti;
  border: 3px solid #8a1eee;
}

.vinoSantajulia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: vinosanta;
  border: 3px solid #8a1eee;
}

.vinoTrumpetermalbec {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: vinotrummal;
  border: 3px solid #8a1eee;
}

.vinoTrumpetermerlot {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: vinotrummer;
  border: 3px solid #8a1eee;
}

.imgVinos {
  height: 400px;
  width: 180px;
}

.champagne {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "champch champcr champdada champfe" "champla champnor champnove champruti";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.champagneChandon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: champch;
  border: 3px solid #8a1eee;
}

.champagneCristal {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: champcr;
  border: 3px solid #8a1eee;
}

.champagneDada {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: champdada;
  border: 3px solid #8a1eee;
}

.champagneFederico {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: champfe;
  border: 3px solid #8a1eee;
}

.champagneLachapelle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: champla;
  border: 3px solid #8a1eee;
}

.champagneNorton {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: champnor;
  border: 3px solid #8a1eee;
}

.champagneNovecento {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: champnove;
  border: 3px solid #8a1eee;
}

.champagneRutini {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: champruti;
  border: 3px solid #8a1eee;
}

.imgChampagne {
  height: 400px;
  width: 180px;
}

.destilados {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "ginb ginal ginhen gintan" "whiskych whiskyfire whiskyjack  whiskyred ";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ginBridhton {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ginb;
  border: 3px solid #8a1eee;
}

.ginAlquimista {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ginal;
  border: 3px solid #8a1eee;
}

.ginHendricks {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ginhen;
  border: 3px solid #8a1eee;
}

.ginTanqueray {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: gintan;
  border: 3px solid #8a1eee;
}

.whiskyChivas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: whiskych;
  border: 3px solid #8a1eee;
}

.whiskyJack {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: whiskyjack;
  border: 3px solid #8a1eee;
}

.whiskeyFireball {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: whiskyfire;
  border: 3px solid #8a1eee;
}

.whiskeyRed {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: whiskyred;
  border: 3px solid #8a1eee;
}

.imgDestilados {
  height: 400px;
  width: 180px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

h1 {
  font-family: 'Kanit', sans-serif;
  background: #353536;
  color: whitesmoke;
}

h2 {
  color: lightgray;
  background: #8a1eee;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1cm;
  margin-bottom: 15px;
  padding-left: 30px;
}

.parrafoNosotros {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.6cm;
  color: #8a1eee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  width: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nosotros;
}

.seccionNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: "nosotros carousel";
}

.carousel-inner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: carousel;
}

#boton {
  margin-left: 20px;
}

.NombItem {
  color: #8a1eee;
  font-family: 'PT Sans Narrow', sans-serif;
}

@media (max-width: 700px) {
  .imgCarousel {
    height: 100px;
    width: 100px;
  }
  .seccionNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "carousel" "nosotros";
  }
  .promos {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "gaton lolab " "mumm circusm" "portillom newageb" "lolaw circusb";
  }
  .vinos {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "vinobenja vinocafa" "vinodon vinoluigi" "vinoruti vinosanta" "vinotrummal vinotrummer";
  }
  .champagne {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "champch champcr " "champdada champfe" "champla champnor " "champnove champruti";
  }
  .destilados {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "ginb ginal " "ginhen gintan" "whiskych whiskyfire" "whiskyjack  whiskyred";
  }
}

@media (max-width: 500px) {
  .imgCarousel {
    height: 100px;
    width: 100px;
  }
  .seccionNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "carousel" "nosotros";
  }
  .promos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5px;
        grid-template-areas: "gaton" "lolab" "mumm" "circusm" "portillom" "newageb" "lolaw" "circusb";
  }
  .vinos {
    display: -ms-grid;
    display: grid;
    gap: 5px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "vinobenja" "vinocafa" "vinodon" "vinoluigi" "vinoruti" "vinosanta" "vinotrummal" "vinotrummer";
  }
  .champagne {
    display: -ms-grid;
    display: grid;
    gap: 5px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "champch" "champcr" "champdada" "champfe" "champla" "champnor" "champnove" "champruti";
  }
  .destilados {
    display: -ms-grid;
    display: grid;
    gap: 5px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "ginb" "ginal" "ginhen" "gintan" "whiskych" "whiskyfire" "whiskyjack" "whiskyred";
  }
}
/*# sourceMappingURL=estilos.css.map */