@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=PT+Sans+Narrow&family=Work+Sans:ital,wght@1,300&display=swap');
*{
    padding: 0;
    margin:0;
}

header{
    background-color: rgb(99, 56, 99);
    border: 3px solid black;

}
.header{
    display: flex;
    flex-direction: row ;
    text-align: center ;
}

#logo{
    top: 0;
    height: 60px;
    width: 60px;
    margin-left: 0;
}

body{
    background-color: rgb(152, 76, 224);
}

nav{ display: flex;
    align-items: center;

}
ul li{
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    
}
nav ul li a{
    text-decoration:none;
    color: white;
    font-size: 1cm;
    font-family: 'Kanit', sans-serif;
}

h1{
    font-size: 1.2cm;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(112, 23, 196);
}


#tituloNosotros{
    color: black;
    background-color: rgb(138, 30, 238);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1cm;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 30px;
}
.parrafoNosotros{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8cm;
    color: rgb(22, 22, 134);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px ;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px; 
    width: 400px;
    grid-area: nosotros;
}
#imgBarra{
    height: 400px;
    width: 400px;
    margin-top: 25px;
}

#tituloPromociones{ 
    color: black;
    background-color: rgb(138, 30, 238);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1cm;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
}


footer{
    background-color:rgb(99, 56, 99) ;
    color: white;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0;
    padding: 20px;
}
.seccionNosotros{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "nosotros barra";
}
.imgBarra{
    grid-area: barra;
}

.promos{
display: grid;
gap: 15px;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
grid-template-areas: 
"gaton lolab mumm circusm"
"portillom newageb lolaw circusb";
align-items: center;

}
.gatoNegro{
    grid-area:gaton ;
}
.lolaBlend{
    grid-area:lolab ;
}
.chaMumm{
    grid-area: mumm;
}
.portilloM{
    grid-area:portillom ;
}
.newageBlanco{
    grid-area: newageb;
}
.lolaWhite{
    grid-area: lolaw;
}
.circusMalbec{
    grid-area: circusm;
}
.circusBlanco{
    grid-area: circusb;
}
.imgPromo{
    height: 450px;
    width: 180px;
    transition-property: all;
    transition-duration: 3s;

}
.imgPromo:hover{
    transform: scale(1.2);
}
.vinos{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
grid-template-areas: 
"vinobenja vinocafa vinodon vinoluigi "
"vinoruti vinosanta vinotrummal vinotrummer";
align-items: center;

}
.vinoBenjamin{
    grid-area:vinobenja;
}
.vinoCafayate{
    grid-area:vinocafa ;
}
.vinoDonvalentin{
    grid-area: vinodon;
}

.vinoLuigiboscamalbec{
    grid-area: vinoluigi;
}
.vinoRutini{
    grid-area: vinoruti;
}
.vinoSantajulia{
    grid-area: vinosanta;
}
.vinoTrumpetermalbec{
    grid-area: vinotrummal;
}
.vinoTrumpetermerlot{
    grid-area: vinotrummer;
}

.imgVinos{
    height: 400px;
    width: 180px;
    transition-property: all;
    transition-duration: 3s;

}
.imgVinos:hover{
    transform: scale(1.2);
}


.champagne{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
grid-template-areas: 
"champch champcr champdada champfe"
"champla champnor champnove champruti";
align-items: center;

}
.champagneChandon{
    grid-area:champch;
}
.champagneCristal{
    grid-area:champcr ;
}
.champagneDada{
    grid-area: champdada;
}
.champagneFederico{
    grid-area: champfe;
}
.champagneLachapelle{
    grid-area: champla;
}
.champagneNorton{
    grid-area: champnor;
}
.champagneNovecento{
    grid-area: champnove;
}
.champagneRutini{
    grid-area: champruti;
}
.imgChampagne{
    height: 400px;
    width: 180px;
    transition-property: all;
    transition-duration: 3s;

}
.imgChampagne:hover{
    transform: scale(1.2);
}
.destilados{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr ;
grid-template-areas: 
"ginb ginal ginhen gintan"
"whiskych whiskyfire whiskyjack  whiskyred ";
align-items: center;

}
.ginBridhton{
    grid-area:ginb ;
}
.ginAlquimista{
    grid-area:ginal ;
}
.ginHendricks{
    grid-area: ginhen;
}

.ginTanqueray{
    grid-area: gintan;
}
.whiskyChivas{
    grid-area: whiskych;
}
.whiskyJack{
    grid-area: whiskyjack;
}
.whiskeyFireball{
    grid-area: whiskyfire;
}
.whiskeyRed{
    grid-area: whiskyred;
}
.imgDestilados{
    height: 400px;
    width: 180px;
    transition-property: all;
    transition-duration: 3s;
}
.imgDestilados:hover{
    transform: scale(1.2);
}
.footer{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "horarios ubicacion";
    align-items: center;
}
.horarios{
    grid-area: horarios;
}
.ubicacion{
    grid-area: ubicacion;
}

@media (max-width:700px){
    .imgbarra{
        width: 100px;
        height: 100px;
    }
    .seccionNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "barra"
        "nosotros";
    }
    .promos{
        display: grid;
        gap: 15px;
        grid-template-columns:1fr 1fr;
        grid-template-areas: 
        "gaton lolab "
        "mumm circusm"
        "portillom newageb"
        "lolaw circusb";
        align-items: center;
        
        }
        nav ul li {
            display: flex;     
}      
.vinos{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"vinobenja vinocafa"
"vinodon vinoluigi"
"vinoruti vinosanta"
"vinotrummal vinotrummer";
align-items: center;
}
.champagne{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"champch champcr "
"champdada champfe"
"champla champnor "
"champnove champruti";
align-items: center;

}
.destilados{
    display: grid;
gap: 15px;
grid-template-columns:1fr 1fr ;
grid-template-areas: 
"ginb ginal "
"ginhen gintan"
"whiskych whiskyfire"
"whiskyjack  whiskyred";
align-items: center;
}

}

@media (max-width:500px){
    .imgbarra{
        width: 100px;
        height: 100px;
    }
    .seccionNosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
        "barra"
        "nosotros";
    }
    .promos{
        display: grid;
        gap: 5px;
        grid-template-areas: 
        "gaton"
        "lolab"
        "mumm"
        "lolab"
        "portillom"
        "newageb"
        "lolaw"
        "circusb";
        align-items: center;
        
        }
        nav ul li {
            display: flex;     
}      
.vinos{
    display: grid;
gap: 5px;
grid-template-areas: 
"vinobenja"
"vinocafa"
"vinodon "
"vinoluigi"
"vinoruti"
"vinosanta"
"vinotrummal"
" vinotrummer";
text-align: center;
}
.champagne{
    display: grid;
gap: 5px;
grid-template-areas: 
"champch "
"champcr "
"champdada"
"champfe"
"champla"
" champnor "
"champnove "
"champruti";
text-align: center;

}
.destilados{
    display: grid;
gap: 5px;
grid-template-areas: 
"ginb"
"ginal "
"ginhen"
" gintan"
"whiskych"
"whiskyfire"
"whiskyjack"
"whiskyred";
text-align: center;
}

}
